<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Outfits</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav id="mainnav" class="group">
            <div id="outfitLogoMobile"><a href="/homepage">Home</a></div>
            <div id="menu">&#x2261;</div>
            <h2><a id="outfitLogo" href="/homepage">Home</a></h2>
            <ul>
                <li><a href="/outfit">Outfit</a></li>
                <li><a href="/favorites">Favorites</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <section id="space">

        </section>

        <div id="editOptionInputs">
            <form>
                <input id="jacketInput" class="input" type="text" name="jacketChoice">
                <input id="shirtInput" class="input" type="text" name="shirtChoice">
                <input id="pantsInput" class="input" type="text" name="pantsChoice">
                <input id="shoesInput" class="input" type="text" name="shoesChoice">
                <button id="saveButton" type="submit">Edit</button>
            </form>
            <button id="clearButton">Delete</button>
        </div>

        <div id="editClothingOptions">

        </div>

        <ul id="allFavorites">
            <% favorites.forEach( el => { %>
                    <li class='favoritesItem' data-id='<%=el._id%>'>
                        <img class="favoritesBoxClass <%= el.jacket === 'baseJacket' ? 'lowOpacity' : '' %>" data-article-type="jackets" data-article-color='<%=el.jacket%>' data-default-value="baseJacket" src="<%= `http://localhost:7000/images/jackets/${el.jacket}.png` %>">
                        <img class="favoritesBoxClass <%= el.shirt === 'baseShirt' ? 'lowOpacity' : '' %>" data-article-type="shirts" data-article-color='<%=el.shirt%>' data-default-value="baseShirt"  title="Shirt" src="<%= `http://localhost:7000/images/shirts/${el.shirt}.png` %>"> 
                        <img class="favoritesBoxClass <%= el.pants === 'basePants' ? 'lowOpacity' : '' %>" data-article-type="pants" data-article-color='<%=el.pants%>' data-default-value="basePants"  title="Pants" src="<%= `http://localhost:7000/images/pants/${el.pants}.png` %>">
                        <img class="favoritesBoxClass <%= el.shoes === 'baseShoes' ? 'lowOpacity' : '' %>" data-article-type="shoes" data-article-color='<%=el.shoes%>' data-default-value="baseShoes"  title="Shoes" src="<%= `http://localhost:7000/images/shoes/${el.shoes}.png` %>"> 
                        <span class='del'> Delete </span>
                        <span class='edit'> Edit </span>
                    </li>
            <% }) %>    
        </ul>

    </main>
    <footer>
        <p>Copyright 2022</p>
    </footer>

    <script>
        let dictionary = '<%-JSON.stringify(dictionary)%>';
        let data = JSON.parse(dictionary)[0].articles;
    </script>

    <script src="/js/favorites.js"></script>

</body>
</html>