<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Outfits</title>
</head>
<body>
    <header>
        <h2><a href="/homepage">Home</a></h2>
        <nav>
            <a href="/outfit">Outfit</a>
            <a href="/favorites">Favorites</a>
            <a href="/tips">Tips</a>
        </nav>
    </header>
    <main>

        <section id="space">

        </section>

        <div id="editOptionButtons">
            <form>
                <!-- <form action="/outfit/postOutfit" method='POST' -->
                <input id="jacketInput" type="text" name="jacketChoice">
                <input id="shirtInput" type="text" name="shirtChoice">
                <input id="pantsInput" type="text" name="pantsChoice">
                <input id="shoesInput" type="text" name="shoesChoice">

                <input id="saveButton" type="submit">
            </form>
            <button id="clearButton">Delete</button>
        </div>

        <div id="editClothingOptions">

        </div>


        <ul id="allFavorites">
            <% favorites.forEach( el => { %>
                    <li class='favoritesItem' data-id='<%=el._id%>'>
                        <img class="favoritesBoxClass" data-article-type="jackets" data-article-color='<%=el.jacket%>' data-default-value="baseJacket" id="pickJacket" title="Jacket" src="<%= `http://localhost:7000/images/jackets/${el.jacket}.png` %>">
                        <img class="favoritesBoxClass" data-article-type="shirts" data-article-color='<%=el.shirt%>' data-default-value="baseShirt" id="pickShirt" title="Shirt" src="<%= `http://localhost:7000/images/shirts/${el.shirt}.png` %>"> 
                        <img class="favoritesBoxClass" data-article-type="pants" data-article-color='<%=el.pants%>' data-default-value="basePants" id="pickPants" title="Pants" src="<%= `http://localhost:7000/images/pants/${el.pants}.png` %>">
                        <img class="favoritesBoxClass" data-article-type="shoes" data-article-color='<%=el.shoes%>' data-default-value="baseShoes" id="pickShoes" title="Shoes" src="<%= `http://localhost:7000/images/shoes/${el.shoes}.png` %>"> 
                        <span class='del'> Delete </span>
                        <span class='edit'> Edit </span>
                    </li>
            <% }) %>    
        </ul>


    </main>
    <footer>
        <p>Copyright 2022</p>
    </footer>
    <!-- <script src="/js/main.js"></script> -->
    <script>

        let dictionary = '<%-JSON.stringify(dictionary)%>';
        let data = JSON.parse(dictionary)[0].articles;

        const editBtn = document.querySelectorAll('.edit')

        Array.from(editBtn).forEach((el)=>{
            el.addEventListener('click', editFavorite)
        })


        function editFavorite(){

            const thisOutfit = this.parentNode;
            const thisId = this.parentNode.dataset.id
            console.log(thisId)
            const space = document.getElementById("space")
            space.dataset.id = thisId
            space.style.display = "flex"

            for (let i=1; i<=4; i++) {
                space.appendChild(thisOutfit.childNodes[i])
            }

            document.querySelector("#allFavorites").style.display = "none";


            const clothingArticle = document.querySelectorAll('.favoritesBoxClass')

            Array.from(clothingArticle).forEach((el)=>{
                el.classList.add('generatorBoxClass');
                el.classList.remove('favoritesBoxClass');
        })


        const editOptionButtons = document.getElementById("editOptionButtons")
        editOptionButtons.style.display = "flex"

        const editClothingOptions = document.querySelector("#editClothingOptions")
        editClothingOptions.style.display = "flex"

    }









        const deleteBtn = document.querySelectorAll('.del')

        Array.from(deleteBtn).forEach((el)=>{
            el.addEventListener('click', deleteFavorite)
        })
        

        async function deleteFavorite(){
            const outfitId = this.parentNode.dataset.id
            console.log(outfitId)
            try{
                const response = await fetch('favorites/deleteFavorite', {
                    method: 'delete',
                    headers: {'Content-type': 'application/json'},
                    body: JSON.stringify({
                        'outfitIdFromJSFile': outfitId
                    })
                })
                const data = await response.json()
                console.log(data)
                location.reload()
            }catch(err){
                console.log(err)
            }
        }

    </script>

<script src="/js/favorites.js"></script>



    
</body>
</html>